.todo {
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
}

.todo.completed {
    background-color: green;
    text-decoration: line-through; 
}

.btn {
    background-color: red;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

